<!-- <div *ngIf="!employee"> -->
    <div class="docform">
  
      <div class="picture">
        <img src="">
      </div>
  
      <div class="main">
        <h1><b>Please upload picture of a Employee</b></h1>
        <input (change)="onFilePicked($event)" class="custom-file-input" placeholder="Upload File" type="file" />
        <button (click)="onFileUpload()" class="myButton">Upload File</button>
        <!-- <p class="errorMsg" *ngIf="errorMsg"><b> Please Select A File</b></p> -->
      </div>
  
    </div>
  <!-- </div>
  
  <div *ngIf="employee">
   -->
    <!-- <div *ngIf="employee.similarity">
  
      <div class="resData">
        
        <div class="pictureSucess">
          <img src="">
        </div>
        
  
        <h3 class = "simires"><b>Similarity Result</b> </h3>
        <p> <b>Name:</b> {{employee.user_name}} <br><b>Similarity
            Percent:</b> <b style= "color:green" > {{employee.similarity}} </b> <b style= "color:green">%</b> <br> <b>Specialization:</b>{{employee.specialization}} <br>
          <b>Location:</b>
          {{employee.Location}} <br> <b>Seniority:</b> {{employee.seniority}} </p>
      </div>
  
    </div>
  
    <div class="noRes" *ngIf="!employee.similarity">
      
      <div class="pictureUnSucess">
        <img src="">
      </div>
      <p class="red"><b>No recognized</b></p>
      <p class="noRestxt">Doctor does not exist in the database, are you sure you are in the right place?</p>
    </div>
    <button class="refreshbtn" (click)="refresh()">Try again</button>
  
   -->
  <!-- </div> -->