<!--dash.component.html-->
<!-- <div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="{{ ( cardLayout | async )?.columns }}" rowHeight="200px"> -->

    <!--Mini Cards-->
    <!-- <mat-grid-tile *ngFor="let i of [1, 2, 3, 4]" [colspan]="( cardLayout | async )?.miniCard.cols"
      [rowspan]="( cardLayout | async )?.miniCard.rows">
      <app-card title="Card {{i}}"><div>Mini Card Content Here</div></app-card>
    </mat-grid-tile> -->

    <!--Charts-->
    <!-- <mat-grid-tile *ngFor="let i of [5, 6, 7, 8]" [colspan]="( cardLayout | async )?.chart.cols"
      [rowspan]="( cardLayout | async )?.chart.rows">
      <app-card title="Card {{i}}"><div>Chart Content Here</div></app-card>
    </mat-grid-tile> -->

     <!--Table-->
     <!-- <mat-grid-tile [colspan]="( cardLayout | async )?.table.cols" [rowspan]="( cardLayout | async )?.table.rows">
      <mat-card title="Card 9"></mat-card>
    </mat-grid-tile>
    
  </mat-grid-list>
 </div> -->
<div class="container">
  

  <div class="w3-main" style="margin-top:43px;">

    <!-- Header -->
    <header class="w3-container" style="padding-top:22px">
      <h5 style="color: white;font-size: 35px;"><b> My Company Dashboard </b></h5>
    </header>
    <br>
    <br>
    <div class="w3-row-padding w3-margin-bottom">
      <div class="w3-quarter" style="width: 32.99999%;">
        <div class="w3-container  w3-padding-16" style="background-color: white;color:red">
          <div class="w3-left"><i class="fa fa-users w3-xxxlarge" style="color:grey"></i></div>
          <div class="w3-right">
            <h3>{{countSad}}</h3>
          </div>
          <div class="w3-clear"></div>
          <h4 style="color:red">Employees wish to leave</h4>
        </div>
      </div>
      <div class="w3-quarter" style="width: 32.99999%;">
        <div class="w3-container w3-padding-16" style="background-color: white;color:green">
          <div class="w3-left"><i class="fa fa-users w3-xxxlarge" style="color:grey"></i></div>
          <div class="w3-right">
            <h3>{{countHappy}}</h3>
          </div>
          <div class="w3-clear"></div>
          <h4 style="color:green">Employees wish to stay</h4>
        </div>
      </div>
      <div class="w3-quarter" style="width: 32.99999%;">
        <div class="w3-container  w3-padding-16" style="background-color: white;color:blue">
          <div class="w3-left" style="color:grey"><i class="fa fa-share-alt w3-xxxlarge" ></i></div>
          <div class="w3-right">
            <h3>{{AverageYear}}</h3>
          </div>
          <div class="w3-clear"></div>
          <h4  style="color:blue">Avg Years in company</h4>
        </div>
      </div>
      
    </div>
    <br><br>
    <app-employee-table></app-employee-table>
    <df-messenger
    intent="WELCOME"
    chat-title="HR Prediction"
    agent-id="8d6f88a0-cae0-4c65-a8ac-a037b0ba64df"
    language-code="en"
  ></df-messenger>
    <!-- <div class="w3-panel">
      <div class="w3-row-padding" style="margin:0 -16px">
        <div class="w3-third">
          <h5>Regions</h5>
          <img src="https://www.w3schools.com/w3images/region.jpg" style="width:100%" alt="Google Regional Map">
        </div>
        <div class="w3-twothird">
          <h5>Feeds</h5>
          <table class="w3-table w3-striped w3-white">
            <tr>
              <td><i class="fa fa-user w3-text-blue w3-large"></i></td>
              <td>New record, over 90 views.</td>
              <td><i>10 mins</i></td>
            </tr>
            <tr>
              <td><i class="fa fa-bell w3-text-red w3-large"></i></td>
              <td>Database error.</td>
              <td><i>15 mins</i></td>
            </tr>
            <tr>
              <td><i class="fa fa-users w3-text-yellow w3-large"></i></td>
              <td>New record, over 40 users.</td>
              <td><i>17 mins</i></td>
            </tr>
            <tr>
              <td><i class="fa fa-comment w3-text-red w3-large"></i></td>
              <td>New comments.</td>
              <td><i>25 mins</i></td>
            </tr>
            <tr>
              <td><i class="fa fa-bookmark w3-text-blue w3-large"></i></td>
              <td>Check transactions.</td>
              <td><i>28 mins</i></td>
            </tr>
            <tr>
              <td><i class="fa fa-laptop w3-text-red w3-large"></i></td>
              <td>CPU overload.</td>
              <td><i>35 mins</i></td>
            </tr>
            <tr>
              <td><i class="fa fa-share-alt w3-text-green w3-large"></i></td>
              <td>New shares.</td>
              <td><i>39 mins</i></td>
            </tr>
          </table>
        </div>
      </div>
    </div> -->
    <!-- <hr>
    <div class="w3-container">
      <h5>General Stats</h5>
      <p>New Visitors</p>
      <div class="w3-grey">
        <div class="w3-container w3-center w3-padding w3-green" style="width:25%">+25%</div>
      </div>
  
      <p>New Users</p>
      <div class="w3-grey">
        <div class="w3-container w3-center w3-padding w3-orange" style="width:50%">50%</div>
      </div>
  
      <p>Bounce Rate</p>
      <div class="w3-grey">
        <div class="w3-container w3-center w3-padding w3-red" style="width:75%">75%</div>
      </div>
    </div>
    <hr> -->
  
    <!-- <div class="w3-container">
      <h5>Countries</h5>
      <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
        <tr>
          <td>United States</td>
          <td>65%</td>
        </tr>
        <tr>
          <td>UK</td>
          <td>15.7%</td>
        </tr>
        <tr>
          <td>Russia</td>
          <td>5.6%</td>
        </tr>
        <tr>
          <td>Spain</td>
          <td>2.1%</td>
        </tr>
        <tr>
          <td>India</td>
          <td>1.9%</td>
        </tr>
        <tr>
          <td>France</td>
          <td>1.5%</td>
        </tr>
      </table><br>
      <button class="w3-button w3-dark-grey">More Countries  <i class="fa fa-arrow-right"></i></button>
    </div> -->
    <!-- <hr>
    <div class="w3-container">
      <h5>Recent Users</h5>
      <ul class="w3-ul w3-card-4 w3-white">
        <li class="w3-padding-16">
          <img src="https://www.w3schools.com/w3images/avatar2.png" class="w3-left w3-circle w3-margin-right" style="width:35px">
          <span class="w3-xlarge">Mike</span><br>
        </li>
        <li class="w3-padding-16">
          <img src="https://www.w3schools.com/w3images/avatar5.png" class="w3-left w3-circle w3-margin-right" style="width:35px">
          <span class="w3-xlarge">Jill</span><br>
        </li>
        <li class="w3-padding-16">
          <img src="https://www.w3schools.com/w3images/avatar6.png" class="w3-left w3-circle w3-margin-right" style="width:35px">
          <span class="w3-xlarge">Jane</span><br>
        </li>
      </ul>
    </div>
    <hr>
   -->
    
    
  

</div>
