<div class="row">
  <div class="column">
    <img src="assets/img/first.jpg" style="width:100%">
  </div>
  <div class="column" style="color: aliceblue;">
   <h1>Importance of employees  </h1>
   <h5 class="w3-opacity" > <b>HOW TO KEEP EMPLOYEES HAPPY</b>
          One of the biggest problems that exists in the labor market, the expansion of companies, is the frequent departure of employees and the loss of sources of knowledge in the organization.
Although there are many ways to retain employees in the organization, most involve many costs to the organization, but in practice any human resources manager would like to have the tool that will allow him to analyze the degree of employees' weeks of desire, which employees want to leave and how "strong" the desire to leave .
Therefore, he cannot use this tool to analyze job candidates in the company in order to rate their level of suitability also in terms of the expected stay in the organization.
The human resources manager, after entering a few details of information, can see a cross-section of all the employees in the company, a simple and convenient graphical display with analysis for each employee regarding the level of weeks of desire.
A system that heralds machine learning in an AWS environment with a database in Firebase and the model has been improved and updated by an extensive database and has even been verified in working with various organizations using the tool.
The access to the system is done in a convenient and up-to-date manner, in accordance with the director of the human resources departments and their requirements, the development of the environment is done in Angular.
</h5>
  </div> 
</div> 
<div class="row">
 
  <div class="column" style="color: aliceblue;">
   <h1>Importance of employees  </h1>
   <h5 class="w3-opacity" > <b>HOW TO KEEP EMPLOYEES HAPPY</b>
          One of the biggest problems that exists in the labor market, the expansion of companies, is the frequent departure of employees and the loss of sources of knowledge in the organization.
Although there are many ways to retain employees in the organization, most involve many costs to the organization, but in practice any human resources manager would like to have the tool that will allow him to analyze the degree of employees' weeks of desire, which employees want to leave and how "strong" the desire to leave .
Therefore, he cannot use this tool to analyze job candidates in the company in order to rate their level of suitability also in terms of the expected stay in the organization.
The human resources manager, after entering a few details of information, can see a cross-section of all the employees in the company, a simple and convenient graphical display with analysis for each employee regarding the level of weeks of desire.
A system that heralds machine learning in an AWS environment with a database in Firebase and the model has been improved and updated by an extensive database and has even been verified in working with various organizations using the tool.
The access to the system is done in a convenient and up-to-date manner, in accordance with the director of the human resources departments and their requirements, the development of the environment is done in Angular.
</h5>
  </div> 
  <div class="column">
    <img src="assets/img/second.jpg" style="width:100%">
  </div>
</div> 
<div class="row">
  <div class="column">
    <img src="assets/img/third.jpg" style="width:100%">
  </div>
  <div class="column" style="color: aliceblue;">
   <h1>Importance of employees  </h1>
   <h5 class="w3-opacity" > <b>HOW TO KEEP EMPLOYEES HAPPY</b>
          One of the biggest problems that exists in the labor market, the expansion of companies, is the frequent departure of employees and the loss of sources of knowledge in the organization.
Although there are many ways to retain employees in the organization, most involve many costs to the organization, but in practice any human resources manager would like to have the tool that will allow him to analyze the degree of employees' weeks of desire, which employees want to leave and how "strong" the desire to leave .
Therefore, he cannot use this tool to analyze job candidates in the company in order to rate their level of suitability also in terms of the expected stay in the organization.
The human resources manager, after entering a few details of information, can see a cross-section of all the employees in the company, a simple and convenient graphical display with analysis for each employee regarding the level of weeks of desire.
A system that heralds machine learning in an AWS environment with a database in Firebase and the model has been improved and updated by an extensive database and has even been verified in working with various organizations using the tool.
The access to the system is done in a convenient and up-to-date manner, in accordance with the director of the human resources departments and their requirements, the development of the environment is done in Angular.
</h5>
  </div> 
</div>


<df-messenger
    intent="WELCOME"
    chat-title="HR Prediction"
    agent-id="8d6f88a0-cae0-4c65-a8ac-a037b0ba64df"
    language-code="en"
  ></df-messenger>