<!-- <div class="mat-elevation-z8" >
    <table mat-table [dataSource]="dataSource.data" matSort class="mat-elevation-z8" >
      <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef>
          <div style="display: flex; align-items: center;">
            <span mat-sort-header>{{column}}</span>
            <button mat-icon-button>
              <mat-icon mat-icon-button color="primary" [matMenuTriggerFor]="menu"
                [matMenuTriggerData]="{columnName: column}">filter_list </mat-icon>
            </button>
          </div>
        </th>
        <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
      </ng-container>
  
      <ng-container [matColumnDef]="'actions'">
        <th mat-header-cell *matHeaderCellDef> actions </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="edit(element)">
            <mat-icon mat-icon-button color='primary'>edit</mat-icon>
          </button>
  
          <button mat-icon-button (click)="delete(element['id'])">
            <mat-icon mat-icon-button color="warn">delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"style = "background-color:rgb(97, 182, 163)"></tr>
      <tr mat-row (click)="employeePage(row)" *matRowDef="let row; columns: columnsToDisplay;"></tr>
    </table>

    <mat-paginator  [length]="5"
              [pageSize]="5"
              [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
</mat-paginator>

</div> -->
  
  <!-- menu for column filtering-->
<!--   
  <mat-menu #menu="matMenu" class="matMenu">
    <ng-template matMenuContent let-dataColumnName="columnName">
      <div class="flex-column" (click)="$event.stopPropagation();">
        <div class="mb-5">
          <mat-form-field class="fullWidth" appearance="outline">
            <mat-label>Choose a filter *</mat-label>
            <mat-select #selectedOperationFilter [value]="'contains'">
              <mat-option value="contains" select>Contains</mat-option>
              <mat-option value="equals">Equals</mat-option>
              <mat-option value="greaterThan">Greater than</mat-option>
              <mat-option value="lessThan">Less than</mat-option>
              <mat-option value="endWith">End with</mat-option>
              <mat-option value="startWith">Start With</mat-option>
            </mat-select>
          </mat-form-field>
  
        </div>
  
        <div class="mb-5 fullWidth">
          <mat-form-field class="fullWidth" appearance="outline">
            <mat-label>write a value*</mat-label>
            <input matInput #searchValue type="text">
          </mat-form-field>
        </div>
  
        <div class="fullWidth flex-row mb-5 flex-justify-space-between">
          <button [disabled]="!searchValue.value" mat-raised-button color="primary"
            class="flex-row flex-align-center btn-filter-action"
            (click)="applyFilter(dataColumnName, 
                     selectedOperationFilter.value,  searchValue.value)">
  
            <mat-icon>check</mat-icon>
            <label>filter</label>
          </button>
  
          <button mat-raised-button 
           class="flex-row flex-align-center btn-filter-action" color="warn"
            (click)="clearFilter(dataColumnName)">
            <mat-icon>clear</mat-icon>
            <label>reset</label>
          </button>
        </div>
      </div>
    </ng-template>
  </mat-menu> -->

  <table class="table table-sm  table-striped table-hover" style="background-color: white;">
    <thead>
      <tr>
        <th scope="col">FirstName</th>
        <th scope="col">LastName</th>
        <th scope="col">Gender</th>
        <th scope="col">Age</th>
        <th scope="col">Training Hours</th>
        <th scope="col">Result</th>
        <th scope="col">Actions</th>

      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let data of dataArray">
        <tr *ngIf="data.uidUser===userId">
          <td>{{data.firstName}}</td>
          <td>{{data.lastName}}</td>
          <td *ngIf="data.gender==1">Male</td>
          <td *ngIf="data.gender==2">Female</td>
          <td *ngIf="data.gender==0">Other</td>
          <td>{{data.age}}</td>
          <td>{{data.trainingHours}}</td>
          <td style="color:red" *ngIf="data.result>0.5">Want to leave</td>
          <td style="color:green" *ngIf="data.result<=0.5">Staying for now</td>
          <td>
            <button class="btn btn-sm btn-info"  data-toggle="modal" (click)="setdataforUpdate(data.firstName,
            data.lastName,data.gender,data.age,
            data.trainingHours,data.key,
            data.companySize,data.companytype,
            data.educationLevel,
            data.educationYears,data.enrollment,
            data.experienceYears,data.majorDiscipline,
            data.rExperience,data.result,data.state,data.street,data.yearsInCurrentJob,data.city)" uk-toggle="target: #modal-example">Update</button>
            <button class="btn btn-success  btn-sm " (click)='details(data.key)'>Details</button>
            <button class="btn  btn-danger  btn-sm" (click)='delete(data.key)'>Delete</button></td>
        </tr>

      </ng-container>
      
     
    </tbody>
  </table>
  


  
  <!-- Modal -->
  <div id="modal-example" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Update this employee</h2>
        <form>
        <div class="uk-margin">
          <label class="uk-form-label" for="form-stacked-text">firstName</label>
            <input class="uk-input" type="text" name="firstName" [(ngModel)]="dataupdate.firstName">
        </div>
        <div class="uk-margin">
          <label class="uk-form-label" for="form-stacked-text">lastName</label>
                <input class="uk-input" type="text" name="lastName" [(ngModel)]="dataupdate.lastName" >
        </div>
        
        <div class="uk-margin">
          <label class="uk-form-label" for="form-stacked-select">Gender</label>
          <div class="uk-form-controls">
              <select class="uk-select" id="form-stacked-select" [(ngModel)]="dataupdate.gender" name="gender">
                <option value="2" [selected]="dataupdate.gender=='2'" >Female</option>
                <option value="1" [selected]="dataupdate.gender=='1'" >Male</option>
                <option value="0" [selected]="dataupdate.gender=='0'" >Other</option>
    
              </select>
          </div>
      </div>
        <div class="uk-margin">
          <label class="uk-form-label" for="form-stacked-text">street</label>
          <input class="uk-input" type="text" name="street" [(ngModel)]="dataupdate.street" >
         </div>
         <div class="uk-margin">
          <label class="uk-form-label" for="form-stacked-text">state</label>
          <input class="uk-input" type="text" name="state" [(ngModel)]="dataupdate.state" >
          </div>
          <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-text">city</label>
            <input class="uk-input" type="text" name="city" [(ngModel)]="dataupdate.city" >
        </div>
        <div class="uk-margin">
          <label class="uk-form-label" for="form-stacked-text">years In Current Job</label>
          <input class="uk-input" type="number" name="yearsInCurrentJob" [(ngModel)]="dataupdate.yearsInCurrentJob" >
        </div>

        <div class="uk-margin">
          <label class="uk-form-label" for="form-stacked-text">company Size</label>
            <input class="uk-input" type="number" name="companySize" [(ngModel)]="dataupdate.companySize">
        </div>
        <div class="uk-margin">
          <label class="uk-form-label" for="form-stacked-text">education Years</label>
          <input class="uk-input" type="number" name="educationYears" [(ngModel)]="dataupdate.educationYears">
      </div>
      <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">experience Years</label>
              <input class="uk-input" type="number" name="experienceYears" [(ngModel)]="dataupdate.experienceYears">
      </div>
        <div class="uk-margin">
          <label class="uk-form-label" for="form-stacked-text">training Hours</label>
            <input class="uk-input" type="number" name="trainingHours" [(ngModel)]="dataupdate.trainingHours">
        </div>
        <div class="uk-margin">
          <label class="uk-form-label" for="form-stacked-select">Major dicipline</label>
          <div class="uk-form-controls">
              <select class="uk-select" id="form-stacked-select" [(ngModel)]="dataupdate.majorDisciplin" name="majorDisciplin">
                <option value="5" [selected]="dataupdate.majorDisciplin=='5'" >STEM</option>
                <option value="4" [selected]="dataupdate.majorDisciplin=='4'" >Humanities</option>
                <option value="3" [selected]="dataupdate.majorDisciplin=='3'" >Business Degree</option>
                <option value="2" [selected]="dataupdate.majorDisciplin=='2'" >Other</option>
                <option value="1" [selected]="dataupdate.majorDisciplin=='1'" >No Major</option>
                <option value="0" [selected]="dataupdate.majorDisciplin=='0'" >Arts</option>
    
              </select>
          </div>
      </div>
      <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-select">Company type</label>
        <div class="uk-form-controls">
            <select class="uk-select" id="form-stacked-select" [(ngModel)]="dataupdate.companytype" name="companytype">
            <option value="5" [selected]="dataupdate.companytype=='5'">Pvt Ltd</option>
            <option value="4" [selected]="dataupdate.companytype=='4'">Funded Startup</option>
            <option value="3" [selected]="dataupdate.companytype=='3'">Public Sector</option>
            <option value="2" [selected]="dataupdate.companytype=='2'">Early Stage Startup</option>
            <option value="1" [selected]="dataupdate.companytype=='1'">NGO</option>
            <option value="0" [selected]="dataupdate.companytype=='0'">Other</option>
  
            </select>
        </div>
    </div>
    <div *ngIf="messageupdate" class="alert alert-success">{{messageupdate}}</div>
        <button class="btn btn-success" (click)="update()">Update</button>
        </form>

        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
        </p>
    </div>
</div>

  