<!-- <div class="grid-container">
  <h1 class="mat-h1">Employee Page {{id}}</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Card Content Here</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div> -->

<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img [src]="getdata.imageLink" style="width:100%" alt="Avatar">
          <div class="w3-display-bottomleft w3-container w3-text-black">
            <h2>{{getdata.firstName}} {{getdata.lastName}}</h2>
          </div>
        </div>
        <div class="w3-container">
          <p *ngIf="getdata.gender==1"><i class="fa fa-user fa-fw w3-margin-right w3-large w3-text-teal"></i>Male</p>
          <p *ngIf="getdata.gender==2"><i class="fa fa-user fa-fw w3-margin-right w3-large w3-text-teal"></i>Female</p>
          <p *ngIf="getdata.gender==0"><i class="fa fa-user fa-fw w3-margin-right w3-large w3-text-teal"></i>Other</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>{{getdata.street}} {{getdata.city}} {{getdata.state}}</p>
          <p><i class="fa fa-child fa-fw w3-margin-right w3-large w3-text-teal"></i>{{getdata.age}}</p>
          <p *ngIf="getdata.companytype==0"><i class="fa fa-university fa-fw w3-margin-right w3-large w3-text-teal"></i>Other</p>
          <p *ngIf="getdata.companytype==1"><i class="fa fa-university fa-fw w3-margin-right w3-large w3-text-teal"></i>NGO</p>
          <p *ngIf="getdata.companytype==2"><i class="fa fa-university fa-fw w3-margin-right w3-large w3-text-teal"></i>Early Stage Startup</p>
          <p *ngIf="getdata.companytype==3"><i class="fa fa-university fa-fw w3-margin-right w3-large w3-text-teal"></i>Public Sector</p>
          <p *ngIf="getdata.companytype==4"><i class="fa fa-university fa-fw w3-margin-right w3-large w3-text-teal"></i>Funded Startup</p>
          <p *ngIf="getdata.companytype==5"><i class="fa fa-university fa-fw w3-margin-right w3-large w3-text-teal"></i>Pvt Ltd</p>
          <hr>

          <!-- <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills</b></p>
          <p>Adobe Photoshop</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%">90%</div>
          </div>
          <p>Photography</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">
              <div class="w3-center w3-text-white">80%</div>
            </div>
          </div>
          <p>Illustrator</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:75%">75%</div>
          </div>
          <p>Media</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:50%">50%</div>
          </div>
          <br> -->

          
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird" >
      <div class="w3-container w3-card w3-white" *ngIf="result" >
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i> This employee is probably looking for a job!</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"  ><b>How to preserve employee</b><br><br>
          One of the biggest problems that exists in the labor market, the expansion of companies, is the frequent departure of employees and the loss of sources of knowledge in the organization.
Although there are many ways to retain employees in the organization, most involve many costs to the organization, but in practice any human resources manager would like to have the tool that will allow him to analyze the degree of employees' weeks of desire, which employees want to leave and how "strong" the desire to leave .
Therefore, he cannot use this tool to analyze job candidates in the company in order to rate their level of suitability also in terms of the expected stay in the organization.<br><br>
The human resources manager, after entering a few details of information, can see a cross-section of all the employees in the company, a simple and convenient graphical display with analysis for each employee regarding the level of weeks of desire.
A system that heralds machine learning in an AWS environment with a database in Firebase and the model has been improved and updated by an extensive database and has even been verified in working with various organizations using the tool.
The access to the system is done in a convenient and up-to-date manner, in accordance with the director of the human resources departments and their requirements, the development of the environment is done in Angular.
</h5><hr>
        </div>
      </div>
      <br>
      <br>

      <div class="w3-container w3-card w3-white"  *ngIf="!result">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>This employee is happy under current job!</h2>
        <div class="w3-container">
          <h5 class="w3-opacity" > <b>HOW TO KEEP EMPLOYEES HAPPY</b></h5><br><br>
          One of the biggest problems that exists in the labor market, the expansion of companies, is the frequent departure of employees and the loss of sources of knowledge in the organization.
Although there are many ways to retain employees in the organization, most involve many costs to the organization, but in practice any human resources manager would like to have the tool that will allow him to analyze the degree of employees' weeks of desire, which employees want to leave and how "strong" the desire to leave .
Therefore, he cannot use this tool to analyze job candidates in the company in order to rate their level of suitability also in terms of the expected stay in the organization.<br><br>
The human resources manager, after entering a few details of information, can see a cross-section of all the employees in the company, a simple and convenient graphical display with analysis for each employee regarding the level of weeks of desire.
A system that heralds machine learning in an AWS environment with a database in Firebase and the model has been improved and updated by an extensive database and has even been verified in working with various organizations using the tool.
The access to the system is done in a convenient and up-to-date manner, in accordance with the director of the human resources departments and their requirements, the development of the environment is done in Angular.
<hr>
        </div>
      </div>
      <br>
      <br>
      <!-- <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Front End Developer / w3schools.com</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2015 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
          <p>Lorem ipsum dolor sit amet. Praesentium magnam consectetur vel in deserunt aspernatur est reprehenderit sunt hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste.</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Web Developer / something.com</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Mar 2012 - Dec 2014</h6>
          <p>Consectetur adipisicing elit. Praesentium magnam consectetur vel in deserunt aspernatur est reprehenderit sunt hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste.</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Graphic Designer / designsomething.com</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jun 2010 - Mar 2012</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p><br>
        </div>
      </div> -->

      <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Formations</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Major dicipline</b></h5>
          <p *ngIf="getdata.majorDiscipline==5">STEM</p>
          <p *ngIf="getdata.majorDiscipline==4">Humanities</p>
          <p *ngIf="getdata.majorDiscipline==3">Business Degree</p>
          <p *ngIf="getdata.majorDiscipline==2">Other</p>
          <p *ngIf="getdata.majorDiscipline==1">No Major</p>
          <p *ngIf="getdata.majorDiscipline==0">Arts</p>

          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Years of Experience:</b></h5>
          <p>{{getdata.experienceYears}}</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Size of your company:</b></h5>
          <p>{{getdata.companySize}}</p><br>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Years in current position:</b></h5>
          <p>{{getdata.yearsInCurrentJob}}</p><br>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Education years:</b></h5>
          <p>{{getdata.educationYears}}</p><br>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Training hours in current position:</b></h5>
          <p>{{getdata.trainingHours}}</p><br>
        </div>
      </div>

    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>
