<!-- <div class="container">
  <mat-card>
    <h1 style="text-align: center;">Login</h1>
    <form #signinForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="example-container">
        <p>
            <mat-form-field appearance="standard">
              <mat-label style="padding-left: 14px;">Email</mat-label>
              <input matInput placeholder="example: you@you.com"
              style="padding-left: 14px;"
                [(ngModel)] = "email"
                name = "email"
                required>
              <mat-hint></mat-hint>
            </mat-form-field>
          </p> 
          <p>
            <mat-form-field appearance="standard">
              <mat-label style="padding-left: 14px;">Password</mat-label>
              <input matInput placeholder="example: 42343@@##aZ"
              style="padding-left: 14px;"
                [(ngModel)] = "password" 
                name = "password" 
                type = "password"
                required>
              <mat-hint></mat-hint>
            </mat-form-field>
          </p>                                       
        <div >
          <div class="d-flex justify-content-center">
            
            <button mat-raised-button color="primary" 
            [disabled]="!signinForm.form.valid" style="text-align: center; width: 150px;" class="bt-10">
             Login
          </button>
          </div>

     
        </div>
        <p *ngIf = "isError">{{errorMessage}}</p>
      </div>
    </form>
   </mat-card>
</div>
 -->
 <div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="login100-form-title" style="background-image: url(assets/login/images/bg-01.jpg);">
        <span class="login100-form-title-1">
          Sign In
        </span>
      </div>

      <form class="login100-form validate-form" #signinForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
          <span class="label-input100">Email</span>
          <input class="input100" type="email"  [(ngModel)]="email"
          name = "email" required placeholder="Enter email">
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
          <span class="label-input100">Password</span>
          <input class="input100" type="password"  [(ngModel)] = "password" 
          type = "password" name="pass" required placeholder="Enter password">
          <span class="focus-input100"></span>
        </div>

        <!-- <div class="flex-sb-m w-full p-b-30">
          <div class="contact100-form-checkbox">
            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
            <label class="label-checkbox100" for="ckb1">
              Remember me
            </label>
          </div>

          <div>
            <a href="#" class="txt1">
              Forgot Password?
            </a>
          </div>
        </div> -->
        <div class="alert alert-danger" *ngIf = "isError">{{errorMessage}}</div>
        <div class="container-login100-form-btn">
          <button class="login100-form-btn" [disabled]="!signinForm.form.valid">
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
</div>