<h1 mat-dialog-title>Edit Person</h1>

<div mat-dialog-content>
  <form #employeeForm="ngForm">
    <div>
      <mat-form-field class="fullWidth" appearance="outline">
        <mat-label>first Name *</mat-label>
        <input matInput type="text" 
        name="firstName" [(ngModel)] = "firstName"
        [ngModelOptions]="{standalone: true}">
        <!-- <mat-error *ngIf="
        formInstance.controls['firstName']?.errors?.required">field required</mat-error> -->
      </mat-form-field>
    </div>
    

    <div class="mt-5">
      <mat-form-field class="fullWidth" appearance="outline">
        <mat-label>Age *</mat-label>
        <input matInput type="number" name="age" [(ngModel)] = "age" 
        [ngModelOptions]="{standalone: true}">
        <!-- <mat-error *ngIf="
        formInstance.controls['age']?.errors?.required">field required</mat-error> -->
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="fullWidth" appearance="outline">
        <mat-label>rExperience *</mat-label>
        <input matInput type="text" 
        name="rExperience" [(ngModel)] = "rExperience"
        [ngModelOptions]="{standalone: true}">
        <!-- <mat-error *ngIf="
        formInstance.controls['rExperience']?.errors?.required">field required</mat-error>-->
      </mat-form-field> 
    </div>
    <div>
      <mat-form-field class="fullWidth" appearance="outline">
        <mat-label>educationLevel *</mat-label>
        <input matInput type="text" 
        name="educationLevel" [(ngModel)] = "educationLevel"
        [ngModelOptions]="{standalone: true}" >
        <!-- <mat-error *ngIf="
        formInstance.controls['educationLevel']?.errors?.required">field required</mat-error> -->
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="fullWidth" appearance="outline">
        <mat-label>enrollment *</mat-label>
        <input matInput type="text" 
        name="enrollment" [(ngModel)] = "enrollment"
        [ngModelOptions]="{standalone: true}">
        <!-- <mat-error *ngIf="
        formInstance.controls['enrollment']?.errors?.required">field required</mat-error> -->
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="fullWidth" appearance="outline">
        <mat-label>majorDiscipline</mat-label>
        <input matInput type="text" 
        name="majorDiscipline" [(ngModel)] = "majorDiscipline"
        [ngModelOptions]="{standalone: true}">
        <!-- <mat-error *ngIf="
        formInstance.controls['majorDiscipline']?.errors?.required">field required</mat-error> -->
      </mat-form-field>
    </div>
    <div class="mt-5">
      <mat-form-field class="fullWidth" appearance="outline">
        <mat-label>companySize</mat-label>
        <input matInput type="number" name="companySize" [(ngModel)] ="companySize" 
        [ngModelOptions]="{standalone: true}">
        <!-- <mat-error *ngIf="
        formInstance.controls['companySize']?.errors?.required">field required</mat-error>-->
      </mat-form-field> 
    </div>

    <div class="mt-5">

      <mat-form-field class="fullWidth" appearance="outline">
        <mat-label>majorDiscipline</mat-label>
        <mat-select name="majorDiscipline" [(ngModel)] = "majorDiscipline"
        [ngModelOptions]="{standalone: true}">
          <mat-option>None</mat-option>
          <mat-option value="5">STEM</mat-option>
          <mat-option value="4">Humanities</mat-option>
          <mat-option value="3">Business Degree</mat-option>
          <mat-option value="2">Other</mat-option>
          <mat-option value="1">No Major</mat-option>
          <mat-option value="0">Arts</mat-option>
        </mat-select>
        <!-- <mat-error *ngIf="formInstance.controls['majorDiscipline']?.errors?.required">field required
        </mat-error> -->
      </mat-form-field>

      
      <mat-form-field class="fullWidth" appearance="outline">
        <mat-label>Job *</mat-label>
        <mat-select name="companytype" [(ngModel)] = "companytype"
        [ngModelOptions]="{standalone: true}">
          <mat-option>None</mat-option>
          <mat-option value="5">Pvt Ltd</mat-option>
          <mat-option value="4">Funded Startup</mat-option>
          <mat-option value="3">Public Sector</mat-option>
          <mat-option value="2">Early Stage Startup</mat-option>
          <mat-option value="1">NGO</mat-option>
          <mat-option value="0">Other</mat-option>
        </mat-select>
        <!-- <mat-error *ngIf="formInstance.controls['companytype']?.errors?.required">field required
        </mat-error> -->
      </mat-form-field>



<div class="mt-5">
  <mat-form-field class="fullWidth" appearance="outline">
    <mat-label>educationYears</mat-label>
    <input matInput type="number" name="educationYears" [(ngModel)] = "educationYears" 
    [ngModelOptions]="{standalone: true}">
    <!-- <mat-error *ngIf="
    formInstance.controls['educationYears']?.errors?.required">field required</mat-error>-->
  </mat-form-field> 
</div>
<div class="mt-5">
  <mat-form-field class="fullWidth" appearance="outline">
    <mat-label>experienceYears</mat-label>
    <input matInput type="number" name="experienceYears" [(ngModel)] = "experienceYears" 
    [ngModelOptions]="{standalone: true}">
    <!-- <mat-error *ngIf="
    formInstance.controls['experienceYears']?.errors?.required">field required</mat-error>-->
  </mat-form-field> 
</div>


<div class="mt-5">
  <mat-form-field class="fullWidth" appearance="outline">
    <mat-label>lastName</mat-label>
    <input matInput type="number" name="lastName" [(ngModel)] = "lastName" 
    [ngModelOptions]="{standalone: true}">
    <!-- <mat-error *ngIf="
    formInstance.controls['lastName']?.errors?.required">field required</mat-error> -->
  </mat-form-field>
</div>

<div>
  <mat-form-field class="fullWidth" appearance="outline">
    <mat-label>street</mat-label>
    <input matInput type="text" 
    name="street" [(ngModel)] = "street"
    [ngModelOptions]="{standalone: true}">
    <!-- <mat-error *ngIf="
    formInstance.controls['street']?.errors?.required">field required</mat-error>-->
  </mat-form-field> 
</div>
<div>
  <mat-form-field class="fullWidth" appearance="outline">
    <mat-label>city</mat-label>
    <input matInput type="text" 
    name="city" [(ngModel)] = "city"
    [ngModelOptions]="{standalone: true}">
    <!-- <mat-error *ngIf="
    formInstance.controls['city']?.errors?.required">field required</mat-error>-->
  </mat-form-field> 
</div>
<div>
  <mat-form-field class="fullWidth" appearance="outline">
    <mat-label>state</mat-label>
    <input matInput type="text" 
    name="state" [(ngModel)] = "state"
    [ngModelOptions]="{standalone: true}">
    <!-- <mat-error *ngIf="
    formInstance.controls['state']?.errors?.required">field required</mat-error>-->
  </mat-form-field> 
</div>
</div>
</form>
</div>
<div class="mt-5" mat-dialog-actions>
  <button mat-raised-button color="primary" 
   (click)="save()"
    cdkFocusInitial>Yes</button>
  <button mat-raised-button mat-dialog-close>No</button>

</div>