

       <nav></nav>
    <nb-layout>

   <nb-layout-footer> 
      <!--<footer class="page-footer font-small" >
    
    <div class="">

      <div class="row">

        <div class="col-md-12 py-5">
          <div class="mb-5 flex-center">

            <a class="fb-ic">
            </a>
            <a class="tw-ic">
            </a>
            <a class="gplus-ic">
            </a>
            <a class="li-ic">
            </a>
            <a class="ins-ic">
            </a>
            <a class="pin-ic">
            </a>
          </div>
        </div>


      </div>


    </div>

    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a > OYOYA</a>
    </div>


  </footer>-->

<footer class="w3-container w3-padding-32 w3-light-grey w3-center" style="    width: 100%;">

  <a href="#" class="w3-button  w3-margin" style= "color: rgb(40, 160, 160);"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <div class="w3-xlarge w3-section" style= "color: rgb(40, 160, 160);">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
  <p>Powered by <a href="#" title="W3.CSS" target="_blank" class="w3-hover-text-green">HR Prediction </a>all right reserved 2021</p>

</footer>
</nb-layout-footer> 



</nb-layout>