.bye{
    text-align: center;

}
.button2 {
    transition-duration: 0.4s;
    color: white;
    height: 45px;
  }
.button2:hover {
    background-color: white; /* Green */
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

  #map {
    height: 500px;
    width: 100%;
    margin: auto;
  }  