<br>
<br>
<br>
<br>
<br>
<br>
<div class="bye" style="color:white">
    <ng-template *ngIf = "(authService.user | async)?.uid, else other">
        <h1> Welcome to Orelmz Test :) </h1> <br><html>{{email}}</html>
        <p >You Logged In Successfully</p>
    </ng-template>
        <div #other>
            <h1>"What an amazing opportunity to know and</h1><h1>understand the feelings of your team"</h1>
        <b>Fill out the analysis form for your employee and get a quik and clear evaluation of the chance for youre employee to leav you</b> 
        </div>
        
        <br>
        <a mat-raised-button *ngIf = "(authService.getUser()|async)"
        class = "button2" routerLink="/form" style = "text-align: center;font-size:15px ; line-height: 55px;background-color: #53a7a8;border-radius: 24px;width: 350px;color:white;height: 60px;">
       Check now  <i class="fa fa-arrow-right"></i></a>
       <a mat-raised-button *ngIf = "!(authService.getUser()|async)"
        class = "button2" routerLink="/signup" style = "text-align: center;font-size:15px ; line-height: 55px;background-color: #53a7a8;border-radius: 24px;width: 290px;color:white;height: 60px;">
       register now  <i class="fa fa-arrow-right"></i> </a>

</div>
<br>


<!-- Content -->
<div class="w3-content" style="max-width:1100px;margin-top:80px;margin-bottom:80px">

  
    <!-- Slideshow -->
    <div class="w3-container" >
      <div class="w3-display-container mySlides">
        <img src="assets/img/background_home.jpg" style="width:100%">
        <div class="w3-display-topleft w3-container w3-padding-32">
          <!-- <span class="w3-white w3-padding-large w3-animate-bottom">Lorem ipsum</span> -->
        </div>
      </div>
      
  
      <!-- Slideshow next/previous buttons w3-dark-grey -->
      <div class="w3-container  w3-padding w3-xlarge" style = "background-color: whitesmoke;" >
        <!-- <div class="w3-left" onclick="plusDivs(-1)" style = "color: grey;"><i class="fa fa-arrow-circle-left w3-hover-text-teal"></i></div>
        <div class="w3-right" onclick="plusDivs(1)" style = "color: grey;"><i class="fa fa-arrow-circle-right w3-hover-text-teal"></i></div>
       -->
        <!-- <div class="w3-center">
          <span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
          <span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
          <span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
        </div> -->
      </div>
    </div>
    
    <!-- Grid -->
    <div class="w3-row w3-container">
      <div class="w3-center w3-padding-64">
        <span class="w3-xlarge w3-bottombar  w3-padding-16" style = "color: whitesmoke;">What We Offer</span>
      </div>
      <div class="w3-col l3 m6 w3-light-grey w3-container w3-padding-16">
        <h3>Employee classification</h3>
        <p>Our Machine learning algorithem will classify youre company employees.</p>
      </div>
  
      <div class="w3-col l3 m6 w3-light-grey w3-container w3-padding-16">
        <h3>Company dashboard</h3>
        <p>After adding all of the employees you can see the status of you're hole company.</p>
      </div>
  
      <div class="w3-col l3 m6 w3-light-grey w3-container w3-padding-16">
        <h3>Consultation</h3>
        <p>Practicle advises on how to keep employees in youre company and how to preserve them.</p>
      </div>
  
      <div class="w3-col l3 m6 w3-light-grey w3-container w3-padding-16">
        <h3>24/7 support</h3>
        <p>Want personal help? leave a message in the contact form and we will answer!</p>
      </div>
    </div>
  
  
    <!-- Grid -->
    <div class="w3-row-padding" id="about">
      <div class="w3-center w3-padding-64">
        <span class="w3-xlarge w3-bottombar  w3-padding-16" style = "color: whitesmoke;">Our customers</span>
      </div>
  
      <div class="w3-third w3-margin-bottom"   >
        <div class="w3-card-4" style = "background-color: whitesmoke;">
          <img src="assets/img/benjamin.jpg" alt="John" style="width:100%; max-height: 250px;">
          <div class="w3-container">
            <h3>Benjamin Netanyahu</h3>
            <p class="w3-opacity">Israeli prime minister</p>
            <p>I allways though good help is hard to come accross, youre system gave awesome advises on how to keep my employees.</p>
            <!-- <p><button class="w3-button w3-block"  style = "background-color: rgb(40, 171, 142);">Contact</button></p> -->
          </div>
        </div>
      </div>
  
      <div class="w3-third w3-margin-bottom">
        <div class="w3-card-4" style = "background-color: whitesmoke;">
          <img src="assets/img/jeff_bessos.jpg" alt="Mike" style="width:100%; max-height: 250px;">
          <div class="w3-container">
            <h3>Jeff Bezoss</h3>
            <p class="w3-opacity">CEO and founder amazon</p>
            <p>after using youre system i managed to keep my employees for 50% longer in our slave jobs.</p>
            <!-- <p><button class="w3-button w3-block" style = "background-color: rgb(40, 171, 142);">Contact</button></p> -->
          </div>
        </div>
      </div>
  
      <div class="w3-third w3-margin-bottom">
        <div class="w3-card-4" style = "background-color: whitesmoke;">
          <img src="assets/img/crabs.png" alt="Jane" style="width:100%; max-height: 250px;">
          <div class="w3-container">
            <h3>Crabs</h3>
            <p class="w3-opacity">Owner of the krusty crab</p>
            <p>Squidweed is finnaly satesfied, i never though that with youre simple tips so much can be done.</p>
            <!-- <p><button class="w3-button w3-block"  style = "background-color: rgb(40, 171, 142);">Contact</button></p> -->
          </div>
        </div>
      </div>
    </div>
  
    <!-- Contact -->
    <div class="w3-center w3-padding-64" id="contact">
      <span class="w3-xlarge w3-bottombar  w3-padding-16" style = "color: whitesmoke;">Contact Us</span>
    </div>
  
    <form class="w3-container" #signinForm="ngForm" (ngSubmit)="sendcontact()" style="background-color:white; border-radius:7px;">
      <div class="w3-section">
        <label>Name</label>
        <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" type="text" [(ngModel)]="datacontact.name" name="name" required>
      </div>
      <div class="w3-section">
        <label>Email</label>
        <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" [(ngModel)]="datacontact.email" type="text" name="email" required>
      </div>
      <div class="w3-section">
        <label>Subject</label>
        <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" [(ngModel)]="datacontact.subject" name="subject" required>
      </div>
      <div class="w3-section">
        <label>Message</label>
        <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" [(ngModel)]="datacontact.message" name="message" required>
      </div>
      <div class="alert alert-success" *ngIf="messagesuccess">{{messagesuccess}}</div>
      <button type="submit" class="w3-button" style="margin-bottom: 20px; background-color: rgb(60, 146, 142);;">Send</button>
    </form>
    <br>
    <br>
    <div id="map"></div>

    <!-- <div style="background: white;">
      <ng-container *ngFor="let message of messages | async">
        <div class="message" [ngClass]="{ 'from':message.sendBy==='bot',
                                          'to':message.sendBy==='user'}">

        {{message.content}}
        </div>

    </ng-container>
    </div>
  

    <label for="nameField">Your Message</label>
    <input [(ngModel)]="formValue" (keyup.enter)="sendMessage" type="text">
    <button (click)="sendMessage()">Send</button> -->
    <!-- <chat-dialog></chat-dialog> -->
    <df-messenger
    intent="WELCOME"
    chat-title="HR Prediction"
    agent-id="8d6f88a0-cae0-4c65-a8ac-a037b0ba64df"
    language-code="en"
  ></df-messenger>
  

  </div>
  